# Ignore virtual environment
myenv/

# Ignore compiled Python files
*.pyc

# Ignore build and distribution directories
build/
dist/
__pycache__/

.env

# Ignore sensitive configuration files
config.ini
